body {

background-image: radial-gradient(circle at 0% 0%, #043854 0%, #0b0f19 50%, #05070a 100%);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;

}

@media (max-width: 768px) {
  .section-login {
    grid-template-columns: 1fr; /* Una sola columna en móviles */
    gap: 20px;
  }
}

.container{
    margin: 200px;
    max-width: 1200px;

}

.form-label{
    font-family: 'Space Grotesk', sans-serif;
    color: #F8FAFC;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.btn{
    font-family: 'Space Grotesk', sans-serif;
    color: #F8FAFC;
    background-color: #0EA5E9;
    padding: 14px 20px;
    font-size: 16px;
    font-weight: 600;
    
}

.btn:hover {
    background: #10B981;
    border: 1px solid #10B981; 
}

.form-text{
    font-family: 'Space Grotesk', sans-serif;
    color: #F8FAFC
}

form {
    background-color: rgba(255, 255, 255, 0.05); 
    border-radius: 15px; 
    border: 1px solid rgba(255, 255, 255, 0.1); 
}


.form-control:focus,
.form-control:focus-within{
    outline: none !important;
  border: 4px solid #0EA5E9 !important;
  box-shadow: 0 0 8px 2px rgba(14, 165, 233, 0.45) !important;
}



