
#header{
     background-color: #1E293B !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 40px;
    font-family: 'Space Grotesk', sans-serif;
}



.headersection {
    justify-content: center;
    gap: 50px;
}


.nav-link {
    color: #F8FAFC;
}

.nav-link:hover {
    color: #0EA5E9;
}

.nav-active {
    color: #f4f6f7 !important;
}

/*==========================
        ESCRITORIO
==========================*/

.logo{
    display: flex;
    align-items: center;
    position: relative;
}

#btnMenu{
    display: none;
    margin-left: auto; /* Empuja el botón a la derecha */
}

#apages{
    display: flex;
    gap: 20px;
    align-items: center;
}

@media (max-width:768px){

    .logo{
        display: flex;
        align-items: center;
    }

    #btnMenu{
        display: block;
        margin-left: auto;
        background: none;
        border: none;
        color: white;
        font-size: 35px;
        cursor: pointer;
    }

    #apages{

        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        z-index: 1000;

        display: flex;
        flex-wrap: wrap;          /* Permite varias columnas */
        justify-content: space-around;

        background: #1E293B;

        max-height: 0;
        overflow: hidden;

        transition: max-height .35s ease;

        padding: 0;
    }

    #apages.active{
        max-height: 300px; /* Ajusta según la cantidad de enlaces */
        padding: 20px 0;
    }

    #apages li{
        list-style: none;
        width: 23%;          /* 3 columnas */
        text-align: center;
        margin: 12px 0;
    }

    #apages a{
        color: white;
        text-decoration: none;
    }
}

#nexoralogo {
    height: 75px;
    width: 75px;
}

/*leo*/
.logo .nav-link {
    font-size: 2.2rem;
    font-weight: 600;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}


/*FOOTER*/
#footer {
    margin-top: 50px;
}

.footerNexora {
    background-color: #1E293B;
    color: #F8FAFC;
    text-align: center;
    padding: 20px;
    font-family: 'Space Grotesk', sans-serif;
}

.footerNexora p {
    margin: 0;
}