/* Estilos de footer */ 
body
{
    background-color: #4a5362;
}

.card2{
    background-color: #1E293B;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Plus Jakarta Sans, sans-serif;
    transition: transform box-shadow 1.0s ease;
}

.card2:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.btn{
    background-color: #0EA5E9;
    color: white;
}

.devops{
    margin:20px;
}

.card2 img{
    width: 100%;            
    aspect-ratio: 1 / 1;       
    object-fit: cover;         
    object-position: center;   
}

#dev
{
    margin: 20px;
    font-family: Space Grotesk, sans-serif;
    color: #f8facf;
}
/*. Estilos de footer */



