#bodyContactanos {
background-image: radial-gradient(circle at 0% 0%, #043854 0%, #0b0f19 50%, #05070a 100%);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}

#messageIpt {
    height: 100px;
}


.formFormat{
 font-family: 'Space Grotesk', sans-serif;
    color: #F8FAFC;
    

}

/*
.btnFormat{
     font-family: 'Space Grotesk', sans-serif;
    color: #F8FAFC;

}

#formBtn{
    background-color: #0EA5E9;
}
*/

#btnContainer {
    display: flex;
    justify-content:center;
    margin-top: 2px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
    margin: 5px;
    margin-top: 3px;
}

#formBtn {
    background: #0d6efd;
    color: #F8FAFC;
    font-family: 'Plus Jakarta Sans', sans-serif;
      font-weight: bold;
}
#formBtn:hover {
   background: #10B981;
   border: 1px solid #10B981;
     color: #1E293B;
     


}

#delBtn {
    background: #dc3545;
    color: #F8FAFC;
font-weight: bold;
    font-family: 'Plus Jakarta Sans', sans-serif;
    
}

#delBtn:hover {
  
        background:#ffb3b3;
        color: #dc3545;

       
}

button:hover {
    transform: scale(1.05);
}
#imgContactanos{
    width: 100%;
border-radius: 12px; 

  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  margin: 10px;
}










