
#header{
     background-color: #1E293B !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 40px;
    font-family: 'Space Grotesk', sans-serif;
}



.headersection {
    justify-content: center;
    gap: 50px;
}


.nav-link {
    color: #F8FAFC;
}

.nav-link:hover {
    color: #0EA5E9;
}

.nav-active {
    color: #f4f6f7 !important;
}
/* Escritorio */
.hamburger{
    display: none;
}

#apages{
    display: flex;
}

/* Móvil */
@media (max-width: 768px){

    .hamburger{
        display: block;
    }

    #apages{
        display: none;
    }

    #apages.active{
        display: flex;
        flex-direction: column;
    }
}

#nexoralogo {
    height: 60px;
    width: 60px;
}

.logo{
    display: flex;
    align-items: center;
    font-size: x-large;
}
